body{
  margin:0px;
  background-image: url("../images/bodybackground.png");
  background-size: 100% 100%;


}
section {
  height:100vh;
}
nav{
  padding-top: 10px;
  text-align: center;
}
.searchbox{
  margin-top: 10px;
  position: absolute;
    padding-left: 544px;
}

ul {
  justify-content:center;
  display :flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}
.searchButton{
  margin-top: 3px;
  margin-right: 210px;
}
li {
  width:12.5%;
/*  float: right;*/
}

li a {
  display: block;

  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    background-color: transparent;
}

li a:hover:not(.active) {
  background-color: #877979;

}
input {
  height:25px;
 padding: 0px;

 border-radius: 8px;
}
button{
  border-color: transparent ;

  background: transparent ;
  color:white;
}

li a.active {
  color: white;
  background-color: #877979;
}
.first{
  margin-top: -70px;
  background-size: 100% 100%;
  text-align: center;
}

.title{
  margin:0;
  color: white;
  font-size: 80px;

}
.subtitle{
  margin:0px;
  color: white;
  font-size: 30px;
}

.firstbase{
  padding-top: 14%;
  height:100vh;
}
.play{
  height:20px;
  width:20px;
}

/*second section*/

.second{
  margin-top: -20%;
}
.content{
  text-align: center;
  align-items: center;
}
.secondtitle{
 text-align: center;
 font-size: 40px;
 color:white;
}
.secondsubtitle{
  margin-left:33%;
  width:35%;
  text-align: center;
  color:white;
}

/*third section*/
.third{
  margin-top:-36%;
}
.packages{
  display:flex;
  margin-left:15%;
}
.package{
  background-image: url("../images/packages.jpg");
  background-size: 100% 100%;
  margin:10px;
  height:400px;
  width:25%;
  background-color: white;
}
.packagedetails{
  margin-top:90%;
}

.packageTitle {
  font-size:36px;
  margin:0px;
  color:white;
  text-align: center;
}
.packageSubTitle{
  font-size:20px;
  margin:0px;
  color: white;
  text-align: center;
}

/*footer*/
.footer{
  padding: 10px;
  text-align: center;
  height:30px;
  color: white;
}
