body{
  margin:0px;
  background-image: url("../images/bodybackground.png");
  background-size: 100% 100%;
}
section {
  height:100vh;
}
nav{
  padding-top: 10px;
  text-align: center;
}
.searchbox{
  margin-top: 10px;
  position: absolute;
    padding-left: 544px;
}

ul {
  justify-content:center;
  display :flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}
.searchButton{
  margin-top: 3px;
  margin-right: 210px;
}
li {
  width:12.5%;
/*  float: right;*/
}

li a {
  display: block;

  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    background-color: transparent;
}

li a:hover:not(.active) {
  background-color: #877979;

}
input {
  height:25px;
 padding: 0px;
 border-radius: 8px;
}
button{
  border-color: transparent ;
  background: transparent ;
  color:white;
}

li a.active {
  color: white;
  background-color: #877979;
}
.first{
  margin-top: -70px;
  background-size: 100% 100%;
  text-align: center;
}

.title{
  margin:0;
  color: white;
  font-size: 80px;

}
.subtitle{
  margin:0px;
  color: white;
  font-size: 30px;
}

.firstbase{
  padding-top: 14%;
  height:100vh;
}
.play{
  margin:6%;
  height:70px;
  width:70px;
}
.youtube{
  margin-left: 6%;
  margin-top:-30%;
  position:absolute;
  height:70%;
  width:90%;
}
.cross {
  position: absolute;
    height: 30px;
    align-items: end;
    margin-left: 72%;
    margin-top: -2%;
}
/*second section*/

.second{

}
.content{
  text-align: center;
  align-items: center;
}
.secondtitle{
 text-align: center;
 font-size: 40px;
 color:white;
}
.secondsubtitle{
  margin-left:33%;
  width:35%;
  text-align: center;
  color:white;
}

/*third section*/
.third{
  margin-top:-36%;
}
.packages{
  display:flex;
  margin-left:15%;
}
.package{
  background-size: 100% 100%;
  margin:10px;
  height:400px;
  padding:7px;
  width:25%;
  background-color: white;
}
.packagedetails{
  margin-top:90%;
}

.packageTitle {
  font-size:36px;
  margin:0px;
  color:white;
  text-align: center;
}
.packageSubTitle{
  font-size:20px;
  margin:0px;
  color: white;
  text-align: center;
}
.book{
  background-color: #193343d6;
    font-size: 30px;
    margin: 20px 20px 20px 70px;
}
.packagedetailsback{
  display:none;
  padding: 20px;
  margin: -9px;
  height: 378px;
  background-color: #323271b0;
}
/* popup div*/
.journel{
  background-size: 100% 100%;
  margin:10px;
  height:350px;
  padding:7px;
  width:35%;
  background-color: white;

}
.journels{
  display:flex;
  margin-left:15%;
}
.packageSubTitleContent{
  padding: 10px;
    font-size: 17px;
    margin: 0px;
    color: white;
    text-align: center;
}
/*fourth*/
.fourth{

  display: flex;
color: white;
text-align: center;
}
.formsection{
  width:50%;
  display:flex;
}
.contactMe{
  width: 40%;
      margin-top: 10%;
}
.contactmessage{
  color:white;
  border-bottom-width: 5px;
  width: 50%;
  height: 30%;
  border-left-color: #196552d1;
  margin: 30px;
  background-color: #0a0f1557;
  border-bottom-color: #3d7275;
  background-color: tra;
  padding: 20px;
  border-left-width: 4px;
}
.contact{
  color:white;
  border-bottom-width: 5px;
width: 50%;
border-left-color: #196552d1;
margin: 10px;
background-color: #0a0f1557;
border-bottom-color: #3d7275;
background-color: tra;
padding: 20px;
border-left-width: 4px;
}

/*footer*/
.footer{
  padding: 10px;
  text-align: center;
  height:30px;
  color: white;
}
